.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.body {
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 5px solid #1abc9c;
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.logo:hover {
  border-bottom-color: #1ed6b2;
}

.logounderline {
  width: 100%;
  height: 5px;
  background-color: #1abc9c;
}

.brand {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.nav-link {
  margin-right: 15px;
  margin-bottom: auto;
  margin-left: 15px;
  padding: 42px 0px 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom: 2px solid #1abc9c;
}

.nav-link.w--current {
  border-bottom: 2px solid #1abc9c;
  color: #000;
}

.nav-container {
  width: 90%;
  max-width: 940px;
}

.top-section {
  margin-top: 100px;
  padding-bottom: 50px;
}

.container {
  display: block;
  width: 90%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-image {
  width: 620px;
  height: 414px;
}

.hero-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hero-content {
  position: relative;
  z-index: 5;
  width: 380px;
  height: auto;
  margin-top: 30px;
  margin-right: -60px;
  padding: 30px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #1abc9c;
}

.hero-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}

.hero-body {
  color: #fff;
  letter-spacing: 1px;
}

.bold-text {
  letter-spacing: 3px;
}

.slide {
  background-image: url('../images/p10.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.icon-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.left-arrow {
  left: auto;
  top: 40px;
  right: 0%;
  bottom: 0%;
}

.right-arrow {
  left: auto;
  top: 0px;
  right: 0%;
  bottom: 60px;
}

.slider {
  height: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section.grey {
  background-color: #f8f8f8;
}

.mainheading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 1px;
}

.mainheading.whitetext {
  color: #fff;
}

.mainheading.whitetext.bank {
  margin-bottom: 26px;
}

.youtube {
  margin-bottom: 30px;
}

.column-div {
  padding-top: 20px;
  padding-right: 30px;
}

.subheading {
  font-family: 'Playfair Display', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.subheading.green {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #1abc9c;
}

.grey-card {
  display: block;
  width: 90%;
  max-width: 940px;
  margin: 30px auto 50px;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block {
  padding-top: 30px;
}

.list-item {
  color: #1abc9c;
}

.blacktext {
  color: #000;
}

.small-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin: 30px auto 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.small-card.white {
  background-color: #fff;
}

.small-card.last {
  margin-bottom: 0px;
}

.small-card.incol {
  margin-top: 30px;
  margin-bottom: 0px;
}

.small-card.greenbg {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1abc9c;
}

.card-left {
  min-width: 130px;
}

.card-right {
  margin-left: 30px;
}

.card-subheading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.card-subheading.green {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #1abc9c;
}

.card-description {
  margin-bottom: 10px;
  color: #8a8a8a;
}

.card-center {
  margin-left: 0px;
}

.greenemail {
  color: #1abc9c;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #464646;
  background-color: #464646;
}

.footertext {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.bank-detail {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.bank-item {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.bankdiv {
  margin-top: 6px;
  margin-bottom: 6px;
}

.card-bottom-description {
  margin-bottom: 10px;
  color: #8a8a8a;
  text-align: right;
}

.slide-2 {
  background-image: url('../images/p3.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/p6.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/p1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/p7.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/p8.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-7 {
  background-image: url('../images/p9.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-8 {
  background-image: url('../images/p5.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/p4.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-1 {
  background-image: url('../images/p2.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-nav {
  font-size: 12px;
  line-height: 12px;
}

.sublink {
  opacity: 1;
  color: #8a8a8a;
  text-decoration: none;
}

.sublink:hover {
  color: #1abc9c;
}

.link {
  color: #fff;
}

.link:hover {
  color: #1abc9c;
}

@media (max-width: 991px) {
  .body {
    font-size: 14px;
    line-height: 20px;
  }
  .brand {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .navbar {
    height: 80px;
  }
  .menu-button {
    padding: 28px;
  }
  .menu-button.w--open {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1abc9c), to(#1abc9c));
    background-image: linear-gradient(180deg, #1abc9c, #1abc9c);
  }
  .top-section {
    margin-top: 80px;
  }
  .hero-image {
    width: 540px;
    height: 360px;
  }
  .hero-content {
    width: 320px;
    margin-right: -60px;
    padding: 20px;
  }
  .hero-heading {
    font-size: 24px;
    line-height: 32px;
  }
  .hero-body {
    font-size: 13px;
    line-height: 19px;
  }
  .bold-text {
    font-size: 24px;
    line-height: 36px;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mainheading {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
  }
  .column-div {
    padding-right: 10px;
  }
  .card-left {
    min-width: 110px;
  }
  .nav-menu {
    padding-bottom: 42px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1abc9c), to(#1abc9c));
    background-image: linear-gradient(180deg, #1abc9c, #1abc9c);
  }
}

@media (max-width: 767px) {
  .logo {
    font-size: 30px;
    line-height: 33px;
  }
  .container {
    width: 90%;
  }
  .hero-image {
    width: 100%;
    height: 240px;
  }
  .hero-content {
    width: 380px;
    margin-top: 20px;
    margin-right: -40px;
    padding: 20px;
  }
  .hero-heading {
    font-size: 20px;
    line-height: 28px;
  }
  .hero-body {
    font-size: 12px;
    line-height: 18px;
  }
  .column-div {
    width: 100%;
    padding-right: 44px;
    padding-left: 44px;
    text-align: center;
  }
  .subheading.green {
    margin-bottom: 10px;
  }
  .grey-card {
    margin-bottom: 30px;
    padding: 15px 20px;
  }
  .small-card {
    padding: 15px;
  }
  .card-left {
    min-width: 70px;
  }
  .card-right {
    margin-left: 15px;
  }
  .div-block-2 {
    padding-right: 0px;
  }
}

@media (max-width: 479px) {
  .body {
    font-size: 12px;
    line-height: 16px;
  }
  .hero-image {
    width: 100%;
    height: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .hero-div {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .hero-content {
    position: static;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
  }
  .hero-heading {
    font-size: 20px;
    line-height: 26px;
  }
  .slider {
    width: 100%;
    height: 240px;
  }
  .column-div {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .small-card {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .small-card.white {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
  }
  .card-left {
    height: 130px;
  }
  .card-right {
    margin-left: 0px;
    text-align: left;
  }
  .image {
    max-width: 80%;
  }
}

