.headline{
  color: #1abc9c;
  font: 700 118px/1.1 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin-bottom: 0px;
  margin-top: 0px !important;
  padding: 70px 0 20px 0;
  text-align: left;
  word-wrap: break-word;
}     

.headline small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0;
}                   

.num-li{
  list-style-type: decimal;
}

.acc_details_block{
  background-color: #EDEFF1;
  color: #BAC1C8;
  font-size: 15px;
  padding: 0;
}

.container > h3{
  padding-top: 30px;
}

.acc_details_block .footer-banner b{
  color: #FAFAFA;
}

.lt{
	float:left;
}

.rt{
	float:right;
}

.floatfix:after{
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibilty:hidden;
	font-size: 0px;
}